.cart-preview {
  position: absolute;
  background-color: #fff;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  padding: 32px 16px;
  /* width: 325px; */
  /* height: 677px; */
  left: 743px;
  top: 78px;
  z-index: 500;
}
.cart-preview-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}
.cart-preview-title-name {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}
