.header-nav-group,
.header-nav-items,
.header-nav-current {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header-nav-current img {
  margin-left: 19%;
}

.header-nav-current {
  position: relative;
}

.header-nav-item {
  margin-right: 17%;
}

.header-nav-item:last-child {
  margin-left: 19%;
}

.left-nav {
  margin-top: 1%;
}

.header-nav-group {
}

.header-nav-group-active {
}

.header-nav-group a {
  text-decoration: none;
}

.header-nav-group a:active {
  text-decoration: none;
}

.link {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #1d1f22;
}

.active-link {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #5ece7b;
  padding-bottom: 33% !important;
  border-bottom: 2px solid #5ece7b;
}

.currency {
  cursor: pointer;
}

.currencies {
  display: grid;
  grid-template-rows: auto;
  position: absolute;
  background-color: #fff;
  padding: 7px;
  text-align: center;
  padding-top: 0px !important;
  top: 30px;
}

.hide-currency {
  display: none;
}

.show-currency {
  display: block;
}
