/* .header-nav-group,
.header-nav-items,
.header-nav-current {
  display: flex;
  justify-content: space-around;
  list-style: none;
} */

.header-nav-group {
  display: grid;
  grid-template-columns: 40% 15% 40%;
  list-style: none;
  /* background-color: red; */
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.left-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-top: 22%; */
}

.right-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav-currency {
  margin-top: 22%;
  cursor: pointer;
}

.left-nav {
  width: 70%;
}

.right-nav {
  width: 30%;
  padding-left: 82%;
}

.logo {
  /* background: red; */
  text-align: center;
}

.header-nav-current img {
  margin-left: 19%;
}

.header-nav-current {
  position: relative;
  width: 100%;
}

.header-nav-item {
  margin-right: 17%;
  margin-top: 7%;
}

.header-nav-item:last-child {
  margin-left: 19%;
}

.left-nav {
  margin-top: 1%;
}

.header-nav-group a {
  text-decoration: none;
}

.header-nav-group a:active {
  text-decoration: none;
}

.link {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #1d1f22;
}

.active-link {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #5ece7b;
  padding-bottom: 33% !important;
  border-bottom: 2px solid #5ece7b;
}

.currency {
  cursor: pointer;
}

.currency-active {
  background: #eeeeee;
}

.currencies {
  display: grid;
  grid-template-rows: auto;
  position: absolute;
  background-color: #fff;
  padding: 7px;
  text-align: center;
  padding-top: 12% !important;
  top: 30px;
  width: 114px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  margin-left: -56%;
}

.hide-currency {
  display: none;
}

.show-currency {
  display: block;
}

.cart {
  position: relative;
}
.cart-count {
  position: absolute;
  background: #000;
  color: #fff;
  top: -16px;
  right: 55%;
  padding: 1px 11px;
  border-radius: 50px;
  font-size: 14px;
}
